# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# База данных
*.db
*.sqlite3

# Переменные окружения и секреты
.env
.env.local
*.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
tmp/
temp/
